.paging{
    text-align: center;
    
}
.paging a{
    text-decoration: none;
    color: black;
    padding:10px 50px;
}
.paging a.active{
    font-weight: bold;
    background-color: rgba(1, 229, 77, 0.988);
    border-radius: 5px;
}
.paging a:hover:not(.active){
    background-color: cyan;

}