h1{
    text-align: center;
}
.nav ul li{
    float:left;
    padding: 30px;
    position: relative;
 

}
.nav ul{
    overflow: hidden;
    background-color: black;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    
}
.nav a{
    text-decoration: none;
    color: black;
    display: block;
    color: wheat;
    padding: 10px;
}
main{
    margin: 30px;

}
body{
    margin: 0px;
}

a:hover{
    background-color:rgb(69, 11, 11);
    color: white;
}